
.content {
    Margin-top: 3em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr;
}

.avatar {
  margin-right: 0.5em;
  color: #ccc;
  font-size: 24px;
}

h2 {
  display: flex;
}
